{% assign colecao = collections[section.settings.collection] %}
{% assign produtos = colecao.products %}

<div class="combo-section">
  <div class="left-side">
    <h2 class="title_three_combo">{{ section.settings.title_1 }}</h2>
    <h3 class="subtitle">{{ section.settings.subtitle_1 }}</h3>
    <div class="product-grid">
      {% assign produto_esquerda = produtos[0] %}
      {% if produto_esquerda %}
        <div class="product-card">
          <img src="{{ produto_esquerda.featured_image | image_url }}" alt="{{ produto_esquerda.title }}">
          <div class="info">
            <h3>{{ produto_esquerda.title }}</h3>
            <p class="description">{{ produto_esquerda.description | strip_html | truncate: 150 }}</p>
            <p class="old-price">{{ produto_esquerda.compare_at_price | money }}</p>
            <p class="price">{{ produto_esquerda.price | money }}<span class="pix">
                via pix</span>
            </p>
            <p class="installments">Em até 6x de R$ 816,66 sem juros</p>
          </div>
          <div class="bottom-section">
            {% if produto_esquerda.available %}
              <a href="{{ produto_esquerda.url }}" class="buy-btn">Comprar</a>
            {% else %}
              <button
                class="buy-btn"
                style="background-color: #DBDBDB;"
                disabled>Indisponível</button>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="right-side">
    <h2 class="title1">{{ section.settings.title_2 }}</h2>
    <h3 class="subtitle1">{{ section.settings.subtitle_2 }}</h3>
    <div class="product-grid">
      {% assign produto_direita_1 = produtos[1] %}
      {% assign produto_direita_2 = produtos[2] %}

      {% if produto_direita_1 %}
        <div class="product-card">
          <img src="{{ produto_direita_1.featured_image | image_url }}" alt="{{ produto_direita_1.title }}">
          <div class="info">
            <h3>{{ produto_direita_1.title }}</h3>
            <p class="description">{{ produto_direita_1.description | strip_html | truncate: 150 }}</p>
            <p class="old-price">{{ produto_direita_1.compare_at_price | money }}</p>
            <p class="price">{{ produto_direita_1.price | money }}<span class="pix">
                via pix</span>
            </p>
            <p class="installments">Em até 6x de R$ 816,66 sem juros</p>
          </div>
          <div class="bottom-section">
            {% if produto_direita_1.available %}
              <a href="{{ produto_direita_1.url }}" class="buy-btn">Comprar</a>
            {% else %}
              <button
                class="buy-btn"
                style="background-color: #DBDBDB;"
                disabled>Indisponível</button>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if produto_direita_2 %}
        <div class="product-card">
          <img src="{{ produto_direita_2.featured_image | image_url }}" alt="{{ produto_direita_2.title }}">
          <div class="info">
            <h3>{{ produto_direita_2.title }}</h3>
            <p class="description">{{ produto_direita_2.description | strip_html | truncate: 150 }}</p>
            <p class="old-price">{{ produto_direita_2.compare_at_price | money }}</p>
            <p class="price">{{ produto_direita_2.price | money }}<span class="pix">
                via pix</span>
            </p>
            <p class="installments">Em até 6x de R$ 816,66 sem juros</p>
          </div>
          <div class="bottom-section">
            {% if produto_direita_2.available %}
              <a href="{{ produto_direita_2.url }}" class="buy-btn">Comprar</a>
            {% else %}
              <button
                class="buy-btn"
                style="background-color: #DBDBDB;"
                disabled>Indisponível</button>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "3 Items ou Combo",
    "settings": [
      {
        "type": "text",
        "id": "title_1",
        "label": "Título Coluna 1"
      },
      {
        "type": "text",
        "id": "subtitle_1",
        "label": "Subtítulo Coluna 1"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Título Coluna 2"
      },
      {
        "type": "text",
        "id": "subtitle_2",
        "label": "Subtítulo Coluna 2"
      }, {
        "type": "collection",
        "id": "collection",
        "label": "Coleção"
      }
    ],
    "presets": [
      {
        "name": "3 Items ou Combo"
      }
    ]
  }
{% endschema %}